*{
    scroll-behavior: smooth;
}
.float-child1{
    width: 50%;
    float: left;
}
.float-child2{
    width: 50%;
    float: left;

}
.text{
     background-color: white;
     margin-left: 175px;
     margin-top: 300px;
     margin-right: 75px;
     text-align: center;
     border: black solid;
     border-radius: 20px;
     margin-bottom: 50px;
}
.image{
     margin-top: 170px;
     margin-right: 225px;
     margin-left: 150px;
     margin-bottom: 100px;
}
#team_image{
    height: 350px;
}
#down{
    text-align: center;
}
.arrow1{
    text-align: center;
    /* margin-top: 10px; */
    object-position: bottom;
}
.head1{
    text-align: center;
    border: black solid;
    margin-left: 625px;
    margin-right: 625px;
    padding: 4px;
    background-color: rgb(12, 35, 209);
    font-family: 'Poppins', Courier, monospace;
    border-radius: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 2px 3px black;
}
#down1{
    height: 70px;
}
.fac{
    font-size: 34px;
    /* text-decoration: overline; */
    color: black;
    padding: 5px;
    background-color: rgb(54, 247, 250);
    width: 30%;
    border-radius: 15px;
    font-family: 'Kdam Thmor Pro', Courier, monospace;

}
.faculty{
    margin-left: 100px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    justify-content: space-evenly;
    font-family: 'Ubuntu', Courier, monospace;
    font-size: 10px;
}
.flex-item{
    width: 210px;
    height: 210px;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: bold;
    line-height: 1.4;
    box-shadow: 5px 6px rgb(255, 83, 195);

}
#img1{
    height: 100px;
}
.club-coordinator{
    margin-left: 100px;
}
.CC{
    font-size: 34px;
    /* text-decoration: overline; */
    color: black;
    padding: 5px;
    background-color: rgb(54, 247, 250);
    width: 30%;
    border-radius: 15px;
    font-family: 'Kdam Thmor Pro', Courier, monospace;

}
.Tech,.manage,.Design,.web,.content,.social,.outreach{
    margin-left: 100px;
}
.Tech1,.manage1,.Design1,.web1,.content1,.social1,.outreach1{
    font-size: 34px;
    /* text-decoration: overline; */
    color: black;
    padding: 5px;
    background-color: rgb(54, 247, 250);
    width: 32%;
    border-radius: 15px;
    font-family: 'Kdam Thmor Pro', Courier, monospace;
}
.leads{
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    justify-content: center;
    line-height: 1.4;
    font-family: 'Ubuntu', Courier, monospace;
    font-size: 10px;
}
.flex-item-ad{
    width: 165px;
    height: 165px;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Ubuntu', Courier, monospace;
    font-size: 10px;
    box-shadow: 5px 5px rgb(255, 165, 211);
    
}
.leads1{
    width: 220px;
    height: 220px;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 1.4;
    font-family: 'Ubuntu', Courier, monospace;
    font-size: 22px;
    box-shadow: 5px 6px rgb(255, 83, 195);
}
.foot{
    text-align: center;
    color: white;
}
#img1{
    clip-path: circle(50% at 50% 50%);
    margin-top: 10px;
    height: 130px;
}
#img1-ad{
    clip-path: circle(50% at 50% 50%);
    margin-top: 3px;
    height: 110px;
}
#team-writeup{
    font-family: 'Kdam Thmor Pro', Courier, monospace;
    font-size: 30px;
}
#team-subtitle{
    font-family: 'Quicksand', Courier, monospace;
    font-size: 20px;
}
body{
    background-color: black;
    
}
span{
    font-size: 15px;
}
.header{
    padding:1rem 10%;
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: rgb(12, 35, 209);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .logo{
    font-size: 2rem;
    font-weight: 800;
    color: white;
    text-shadow: 2px 3px black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
 }
 .flex-item-ad1{
    width: 210px;
    height: 210px;
    background-color: white;
    border: 2px solid darkblue;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;
    color: black;
    font-weight: bold;
    line-height: 1.4;
    box-shadow: 5px 5px rgb(255, 165, 211);

 }
 @media only screen and (min-width: 100px) and (max-width:600px){
    .float-child1,.float-child2{
        width: 100%;
    }
    .text{
        margin-top: 150px;
        margin-left: 5px;
        margin-right:5px;

    }
    #team-writeup,#team-subtitle{
        font-size: 20px;
    }
    .header{
        padding: 10px;
    }
    .logo{
        font-size: 14px;
        text-shadow: 1px 1px black;

    }
    .image{
        margin-left: 85px;
        margin-right: 40px;
        margin-top: 30px;
        margin-bottom: 130px;

    }
    #team_image{
        height: 200px;
    }
    .arrow1{
        text-align: start;
        margin-left: 180px;
    }
    #down1{
        height: 40px;
    }
    .head1{
        margin-left: 90px;
        margin-right: 90px;
        font-size: 25px;
    }
    .faculty,.club-coordinator,.Tech,.manage,.Design,.web,.content,.social,.outreach{
        margin-left: 40px;
    }
    .fac{
        padding: 4px;
        width: 20%;
        font-size: 20px;
    }
    .CC,.Tech1,.manage1,.Design1,.web1,.content1,.social1,.outreach1{
        width: 55%;
        font-size: 20px;
    }
    .flex-container,.leads{
        margin-left: 100px;
        font-size: 5px;
        display: block;
    }
    .flex-item,.leads1,.flex-item-ad,.flex-item-ad1{
        height: 180px;
        width: 180px;
        box-shadow: 3px 4px rgb(255, 83, 195);
        margin-bottom: 25px;
    }
    #img1{
        height: 120px;
    }
    .foot{
        text-align: initial;
        font-size: 17px;
    }
 }
